.login{
    
        height: 400px;
        width: 26%;
        text-align: center;
        background-color:linen;
        border-radius: 4rem;
        justify-content: end;
        margin-left: 400px;
        display: flex;
}



input {
    font-weight: bolder;
    background-color: white;
    border: none;
    margin: 10px;
    padding: 10px;
    box-shadow: 4px 4px 10px black;
    border-radius: 4px;
    font-size: 23px;
    text-align: center;
}
button {
    font-weight: bolder;
    background-color: white;
    border: none;
    margin: 10px;
    padding: 10px;
    box-shadow: 4px 4px 10px black;
    border-radius: 9px;
    font-size: 25px;
    text-align: center;
}
